include layout.jade
  block css
    link(rel='stylesheet', href='../css/base.css')
  block content
    #line
  block js
    script(src='../spm_modules/seajs/2.3.0/dist/sea.js')
    script.
      seajs.config({
          base: "/spm_modules/",
          alias: {
              "jquery": "jquery/2.1.1/jquery.js"
          }    
      })
      seajs.use('../js/index.js')

